<%- include('partials/header.ejs')%>
    <h1>
        contact
    </h1>

    <p>
        <%=starting_content%>
    </p>


    <!--for printing the posts value in the ejs page created-->
    <%- include('partials/footer.ejs') %>